//Main Settings
$background: url(https://alinuxninja.github.io/dropshare-theme/img/background/background-1.jpg?v=1) no-repeat center center fixed;

//Logo Settings
$logo-max-height: 2.5em;
$logo-max-width: 10em;

// Dialog Settings
$font-family: 'Lato', sans-serif;
$header-font-size: 1em;
$dialog-background: whitesmoke;

// Button Settings
